/* nav bar */
#navbar {
  z-index: 100;
  overflow: hidden;
  height: 5vh;
  background-color: rgba(65, 64, 64, 0.9);
}

#navbar a {
  float: left;
  display: block;
  font-family: "Roboto Mono", monospace;
  font-size: 1.25rem;
  text-transform: lowercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #f2f2f2;
  opacity: 0.9;
  text-align: center;
  padding: 1vh;
  text-decoration: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: var(--nav-bar-height);
}