:root {
  /* page layout variables */
  --nav-bar-height: 40px;
  /* color theme for easy changes */
  --stitching-color: rgb(226, 226, 226);
  --badge-container-color: rgba(43, 77, 49, 0.85);
  --nav-bar-color: rgb(219, 41, 85);
  --text-color: #1d3557;
  --background-color: #f1faee;
}

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}
